<h1>Eat-Da-Burger!</h1>

<h2>Burgers that make you drool!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <p>{{this.id}}. {{this.burger_name}}
    {{!-- {{> burgers/cat-block sleep=true}} --}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers you've already devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
            <p>{{this.id}}. {{this.burger_name}}
    {{!-- {{> cats/cat-block sleep=false}} --}}
    {{/if}}
    {{/each}}
</ul>

<h2>Hungry for more?</h2>
<form class="create-form">

    <div class="form-group">
        <label for="newBurger">Name:</label>
        <input type="text" id="newBurger" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Eaten?</label><br>
        <input type="radio" name="doneEating" value="1" checked> Not yet!<br>
        <input type="radio" name="doneEating" value="0"> Yup
    </div>

    <button type="submit">Add Burger</button>
</form>