li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.text {
  color: whitesmoke;
  text-emphasis: bold;
  text-shadow: 2px 2px black;
}
.top-name {
  text-align: center;
  font-size: 64px;
}
.big {
  font-size: 24px;
}

.menu-header {
  font-size: 32px;
}

body {
  background-image: url(../img/burger.jpg);
  background-size: cover;
 }